.cinema {
    // .cinema__wrapper

    &__wrapper {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 60px;

        margin-top: 40px;
        padding-bottom: 200px;
        position: relative;
        overflow: hidden;

        :first-child {
            margin-top: 50px;
        }

        :last-child {
            margin-top: 50px;
        }
    }

    // .cinema__card

    &__card {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
            width: 100%;
            height: 320px;
            object-fit: cover;
        }

        p {
            position: absolute;
            bottom: -100px;
            left: 50%;
            translate: -50% 0;
            max-width: 390px;
            margin: 0 auto;
            font-size: 30px;
            width: 100%;
            opacity: 0;
            transition: all 0.5s;
            color: #fff;
            letter-spacing: 2px;
            font-weight: 600;
            line-height: 1.2;
            visibility: hidden;
        }

        &:hover {
            p {
                bottom: 50px;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

